<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <% if (locals.validation_error != undefined || locals.success_message != undefined || locals.login_error != undefined) { %>
                    <%- include('./partials/_mesaj')  %> 
                <% } %>
                  <h1 class="h4 text-gray-900 mb-2">New Password</h1>
                  <p class="mb-4">Please create your new password</p>
                </div>
                <form class="user" action="/reset-password" method="post">
                  <!--(2) auth_controller(345) sifre ve resifre değerlerini aldığımız gibi linkimizdeki id ve token değerlerini de aldık. Kullanabilmek için de bunlara name verdik -->
                  <!-- burada formun içine bu değerleri gizledik post action="/reset-password"  dediğimizde requestimizin bodysinde bu değerleri taşıyabiliyoruz sifre ve resifre gibi -->
                  <input type="hidden" name="id" value="<%= typeof id != 'undefined' ? id : ''%>">
                  <input type="hidden" name="token" value="<%= typeof token != 'undefined' ? token : ''%>">
                  <div class="form-group">
                    <input type="password" value="<%= typeof sifre != 'undefined' ? sifre : ''%>" name="sifre" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="new password">
                  </div>
                  <div class="form-group">
                    <input type="password" value="<%= typeof resifre != 'undefined' ? resifre : ''%>" name="resifre" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="new password again">
                  </div>
                  <button  class="btn btn-primary btn-user btn-block">
                    Update Password
                  </button>
                </form>
                <hr>
                <div class="text-center">
                    <a class="small" href="/login">Already have an account? Login!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
